{
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "env": {
    "es6": true
  },
  "rules": {
    "global-require": 0,
    "no-console": 0,
    "react/jsx-filename-extension": 0,
    "no-underscore-dangle": 0,
    "comma-dangle": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "no-confusing-arrow": 0,
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "jsx-a11y/label-has-for": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0
  },
  "globals": {
    "document": true,
    "pell": true,
    "window": true
  }
}
