@font-face{
	font-family: 'Agency FB';
	src: url('./Agency_FB.ttf');
}

@font-face{
	font-family: 'Cordia New';
	src: url('./cordia_0.ttf');
}

@font-face{
	font-family: 'Supermarket';
	src: url('./supermarket.ttf');
}
